<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>用户详情</title>
  <link rel="icon" href="/img/suse.jpg">
  <link rel="stylesheet" type="text/css" href="../static/css/me.css" th:href="@{/css/me.css}">
  <link rel="stylesheet" type="text/css" href="../static/lib/Semantic-UI-CSS-master/semantic.min.css" th:href="@{/lib/Semantic-UI-CSS-master/semantic.min.css}">
  <style>
    .icon {
      vertical-align: -0.15em;
      fill: currentColor;
      overflow: hidden;
    }
  </style>
</head>
<body>
<!--导航-->
<nav class="ui m-padded-tb-mini m-margin-none segment">
  <div class="ui container">
    <div class="ui stackable secondary menu">
      <img class="ui image item m-padded-none" th:src="@{/img/logo2_0.png}" src="../static/img/logo2_0.png" alt="" width="200px"
           height="65px">
      <a href="#" th:href="@{/}" class="m-item item m-mobile-hide"><i class="small home icon m-opacity-mini"></i>首页</a>
      <a href="" th:href="@{/resource}" class="m-item item m-mobile-hide"><i
              class="small boxes icon m-opacity-mini"></i>资源</a>
      <a href="" th:href="@{/community}" class="m-item item m-mobile-hide"><i
              class="small users icon m-opacity-mini"></i>社区</a>
      <a href="#" th:href="@{/self}" class="m-item item m-mobile-hide"><i
              class="small user outline icon m-opacity-mini"></i>个人
      </a>
      <div class="right m-item m-mobile-hide menu">
        <div class="ui dropdown item" th:if="${session.user != null}">
          <div class="text">
            <img src="https://unsplash.it/100/100?image=1005"
                 th:src="@{${session.user.avatar}}"
                 style="max-width: 28px;max-height: 28px"
                 class="ui avatar image">
            <span th:text="${session.user.nickname}"></span>
          </div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <a href="#" th:href="@{/log/logout}" class="item">注销</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="ui menu toggle basic icon button m-location-top-right m-mobile-show">
    <i class="sidebar icon"></i>
  </a>
</nav>
<!--内容-->

<div class="m-container-width-smallest">
  <div class="ui container m-border-none">
    <div class="ui attached segment m-border-none m-image-trans">
      <div class="ui grid">
        <div class="three wide column">
          <img class="m-image-rotate" src="../static/img/doge2.jpg" th:src="@{${targetUser.avatar}}" alt=""
               width="100px" height="100px"
               style="border-radius:
                  50px">
        </div>
        <div class="eleven wide column m-padded-tb-large m-text-lined m-text-spaced m-text-style">
          <div class="ui header teal m-padded-tb-mini" th:text="${targetUser.nickname}">nickname</div>
          <div class="m-padded-tb-mini">
            <strong>兴趣标签：</strong>
            <div th:each="tag : ${targetUser.tags}" th:text="${tag.tagName}" class="ui mini label">java</div>
          </div>
          <div class="m-padded-tb-mini"><strong>专业：</strong><span th:text="${targetUser.major}">计算机科学与技术
          </span></div>
          <div class="m-padded-tb-mini"><strong>个人简介：</strong><span th:text="${targetUser.description}"
          > </span></div>
        </div>
        <div class="two wide column m-vertical-center-align">
          <button id="focus_on" class="ui teal button" th:unless="${targetUser.id}==${session.user.id}">
            <span>关注</span>
            <i class="check m-margin-auto icon" style="display: none"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="ui attached m-border-none segment">
        <div id="blog_btn" class="ui button">文章</div>
        <div id="re_btn" class="ui button">资源</div>
    </div>
    <div id="blogMenu" class="ui attached segment m-border-none">
      <div th:each="blog : ${blogList}"
           class="ui vertical segment m-padded-big m-padded-tb-big-f m-mobile-lr-clear m-self-box-shadow">
        <div class="ui middle aligned mobile reversed stackable grid">
          <div class="eleven wide column">
            <h3 class="ui header"><a href="" th:href="@{/blog/{id}(id=${blog.id})}" th:text="${blog.title}">Article
              Title</a></h3>
            <p class="m-text" th:text="${blog.description}">
              人类文明的发展要经历挫折，物质文明和汉语文明均是如此。我们还是中华民族兴旺发达的需要.</p>
            <div class="ui stackable grid">
              <div class="row">
                <div class="eleven wide column">
                  <div class="ui mini horizontal link list">
                    <div class="item">
                      <i class="clock outline icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm:ss')}">2021-7
                                                        -15</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="five wide column">
            <a href="#" style="width: 800px; height:450px;">
              <img src="https://unsplash.it/800/450?image=1005"
                   th:src="${blog.avatar}"
                   class="ui rounded image">
            </a>
          </div>
          <div class="row m-padded-tb-normal">
            <div class="eleven wide column">
              <div class="ui grid">
                <div class="item m-padded-tag m-vertical-center-align">
                  <i class="tags icon m-opacity-mini m-icon-height-mini"></i>
                </div>
                <div th:each="tag : ${blog.tags}" class="item m-padded-tag">
                  <a href="#" th:text="${tag.tagName}"
                     class="ui label m-margin-tb-tiny">
                    JAVA
                  </a>
                </div>
              </div>
            </div>
            <div class="five wide column m-text-thin m-opacity-tiny">
              <div class="ui grid">
                <div class="m-padded-tag">
                  <i class="thumbs up outline icon m-icon-height-mini"></i>
                  <span th:text="${blog.likes}==null?0:${blog.likes}">100</span>
                </div>
                <div class="m-padded-tag">
                  <i class="heart outline icon m-icon-height-mini"></i>
                  <span th:text="${blog.collect}==null?0:${blog.collect}">100</span>
                </div>
                <div class="m-padded-tag">
                  <i class="comments outline icon m-icon-height-mini"></i>
                  <span th:text="${blog.commentNumber==null?0:blog.commentNumber}">100</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>
    <div id="reMenu" class="ui attached m-none segment m-border-none m-text-lined m-text-spaced m-text-style">
      <div th:each="re : ${reList}"
           class="ui vertical segment m-padded-normal m-padded-tb-big-f m-mobile-lr-clear m-self-box-shadow">
        <a th:href="@{/resource/{id}(id=${re.id})}" class="m-a-a-color">
          <div class="ui middle aligned four column grid">
          <div class="column">
            <div class="m-vertical-center-align">
              <img src="../static/img/default_avatar/doge2.jpg"
                   th:src="@{${re.avatar}}"
                   width="80px" height="80px" style="border-radius:10px">
            </div>
          </div>
          <div class="column m-overflow-hidden">
              <span th:text="re.description">description：</span>
          </div>
          <div class="column">
            <span th:text="${#dates.format(re.updateTime,'yyyy-MM-dd HH:mm:ss')}">2021-7-15</span>
          </div>
          <div class="column">
            <div class="ui star mini rating similarity disabled" th:attr="data-rating = ${re.score}" data-rating="3"
                 data-max-rating="5"></div>
          </div>
        </div>
        </a>
      </div>
      <br>
      <br>
    </div>
  </div>
</div>


<br>
<br>
<br>
<!--foot-->
<div class="ui section divider"></div>
<footer th:replace="fragment_::footer" class="ui vertical segment m-padded-tb-large">
  <div class="ui center aligned container">
    <div class="ui divided stackable grid">
      <div class="three wide column center aligned">
        <div class="ui link list">
          <div class="item">
            <img src="../static/img/logo2_0.png" class="ui rounded image"
                 th:src="@{/img/logo2_0.png}"
                 style="width:
                            110px;">
          </div>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui header m-text-spaced m-text-lined">创意Blog</h4>
        <div class="ui link list">
          <a href="#" class="item">orange</a>
          <a href="#" class="item">orange</a>
          <a href="#" class="item">orange</a>
        </div>
      </div>
      <div class="six wide column">
        <h4 class="ui header m-text-spaced m-text-lined">官方</h4>
        <div class="ui link list">
          <a href="#" class="item">四川轻化工大学</a>
          <a href="#" class="item">计算机科学与工程学院</a>
          <a href="#" class="item">四川轻化工大学电子图书馆</a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui header m-text-spaced m-text-lined">站在巨人的肩膀上</h4>
        <p class="m-text-spaced m-text-lined m-text-thin">技术改变世界，代码充实人生</p>
      </div>
    </div>
    <div class="ui section divider"></div>
    <p class="m-text-spaced m-text-lined m-text-thin m-opacity-tiny">蜀ICP备2021025306号-1</p>
    <p class="m-text-spaced m-text-lined m-text-thin m-opacity-tiny">CopyRight © 2021-10 DuanQiHang Class 9 of
      Computer Science and Technology,SUSE</p>
  </div>
</footer>
<input type="hidden" id="session_user_id" th:value="${session.user.id}">
<input type="hidden" id="target_user_id" th:value="${targetUser.id}">

<script src="../static/js/jquery-3.2.1.js" th:src="@{/js/jquery-3.2.1.js}"></script>
<script src="../static/lib/Semantic-UI-CSS-master/semantic.min.js" th:src="@{/lib/Semantic-UI-CSS-master/semantic.min.js}"></script>
<script type="text/javascript" src="../static/js/me.js" th:src="@{/js/me.js}"></script>
<!--alibaba iconfont-->
<script src="../static/lib/ali_iconfont/iconfont.js" th:src="@{/lib/ali_iconfont/iconfont.js}"></script>
<script th:inline="javascript">
  let focusFlag = /*[[${focusFlag}]]*/ null
  if(focusFlag){
    $('#focus_on').children("span").css("display","none");
    $("#focus_on").children("i").css("display","block");
  }
  /*关注*/
  $('#focus_on').click(function () {
    let tep = $('#focus_on').children("span")
    let tepi = $("#focus_on").children("i")
    if(tep.css("display") === "none"){
      /*alert('取消关注')*/
      tep.css("display", "block")
      tepi.css("display", "none")
      focusAjax(false)
    }else{
      /*alert("添加关注")*/
      tep.css("display", "none")
      tepi.css("display", "block")
      focusAjax(true)
    }
  })
  function focusAjax(flag){
    /*alert("ajax")*/
    /*let id=  /!*[[${session.user.id}]]*!/null
    let targetId= /!*[[${targetUser.id}]]*!/ null*/
    let id = $('#session_user_id').val();
    let targetId = $('#target_user_id').val();
    /*alert(id)
    alert(targetId)*/
    $.ajax({
      url: '/focus',
      type: 'GET',
      data:{
        flag,
        id,
        targetId
      },
      datatype: 'text',
      success: function(data){
        /*alert(data)*/
      }
    })
  }
  $('#blog_btn').click(function (){
    $('#blogMenu').removeClass("m-none");
    $('#reMenu').addClass("m-none");
  })
  $('#re_btn').click(function (){
    $('#blogMenu').addClass("m-none");
    $('#reMenu').removeClass("m-none");
  })

  /*评分*/
  $(".ui.rating").rating();
  $('.ui.rating').rating('disable')
</script>
</body>
</html>