<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="icu.duanqihang.suse_it.mapper.TypeMapper">

    <select id="getAllType" resultMap="CompleteType">
        select A.id type_id,A.name type_name,B.name tag_name,B.id tag_id
        from t_type A,t_tag B
        where A.id = B.type_id
    </select>
    <resultMap id="CompleteType" type="icu.duanqihang.suse_it.pojo.Type">
        <result property="id" column="type_id"/>
        <result property="name" column="type_name"/>
        <collection property="tags" ofType="icu.duanqihang.suse_it.pojo.Tag">
            <result property="id" column="tag_id"/>
            <result property="tagName" column="tag_name"/>
        </collection>
    </resultMap>


    <select id="getTypeById" resultMap="TypeById">
        SELECT A.id typeId,A.name typeName,B.id tagId,B.name tagName
        from t_type A,t_tag B
        WHERE A.id=#{id} and A.id=B.type_id
    </select>
    <resultMap id="TypeById" type="icu.duanqihang.suse_it.pojo.Type">
        <result property="id" column="typeID"/>
        <result property="name" column="typeName"/>
        <collection property="tags" ofType="icu.duanqihang.suse_it.pojo.Tag">
            <result property="id" column="tagId"/>
            <result property="tagName" column="tagName"/>
        </collection>
    </resultMap>
</mapper>